*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:linear-gradient(to bottom,#1e3944f5,#19343fda) ;
}
.d1{
    width: 375px;
    height: 200px;
    background-color: rgb(31, 46, 46);
    border-radius: 20px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.658);
    box-shadow: 0 0 10px 3px  rgba(31, 46, 46, 0.582);
    border: 1px solid rgba(31, 46, 46, 0.39);
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.img1{
    width: 50px;
}
.img2{
    width: 50px;
    border-radius: 8px;
}
.d4{
    position: relative;
    top: 35px;
    display: flex;
    justify-content: space-between;
}
.d2{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.d3{
    position: relative;
    top: 60px;
}
h4{
    padding-top: 5px;
    padding-left: 5px;
    font-size: 18px;
}
.hh{
    font-size: 18px;
    letter-spacing: 1px;
}
.h5{
    position: relative;
    top: 20px;
    font-size: 17px;
}